*{
    margin: 0;
    padding: 0;
    font-family: 'century gothic';
    
}
header.home {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main ul{
    list-style: none;
    float: right;
    margin-top: 25px;
}
.main ul li{
    display: inline;
    padding: 5px;
    font-weight: lighter;
    font-size: large;
}
.main ul li a{
    font-family:;
    color: white;
    border: 1px solid;
    border: transparent;
    text-decoration: none;
    padding: 5px 20px;
    transition: 0.5s ease;
}
.main ul li a:hover{
    background-color: white;
    color: #000;
}


.main{
    max-width: 1500px;
}
ul li.active a{
    background-color: white;
    color: #000;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: white;
    font-size: 70px;
}
.button{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.btn{
    text-decoration: none;
    color: white;
    padding: 5px 30px;
    border: 1px solid white;
    transition: 0.5s ease;
}
.btn:hover{
    background-color: white;
    color: #000;
}


#video {
    min-width: 1200px;
    display: block;
    text-align: center;
    transition: 0.5s ease;
    
}
.more{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../explore.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px;
    overflow: hidden;
}
#video{
    transition: ease-in-out;
}
.more{
    transition: 1s ease;
}

.more h1{
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.more p{
    color: white;
    font-size: larger;
    font-family: 'century gothic';
    padding-left: 20px;
}
header.service{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../2.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.services{
    position: absolute;
    top: 0%;
    left: 0%;
    position: absolute;
}
.services h1{
    color:white;
    padding-top: 70px;
    text-decoration: underline;
    padding-left: 35px;
    top: 5px;
}
.services li h3{
    color:white;
    padding-left: 20px;
}
.services li p{
    padding-left: 20px;
    color:white;
    
}
#services li{
    padding-top: 25px;
    color:white;
    padding-left: 20px;
}




.servicesbutton{
    padding-left: 20px;
    padding-top: 20px;
}
.btn#servicesreadmore{
    border: none;
    padding-left: 50%;
    text-decoration: underline;
}
.btn#servicesreadmore:hover{
    color: black;
    background-color: transparent;
}





header.about{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../3.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.abouts{
    position: absolute;
    top: 0%;
    left: 0%;
    position: absolute;
}
.abouts h1{
    color:white;
    padding-top: 90px;
    text-decoration: underline;
    padding-left: 20px;
    top: 5px;
    text-align: center;
    padding-bottom: 30px;
}

.abouts p{
    padding-left: 20px;
    color:white;
    font-size: larger;
    text-align: center;
}

header.contact{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../4.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.contacts{
    position: absolute;
    top: 15%;
    left: 30%;
    position: absolute;
    font-family: 'century gothic';
    font-size: x-large;
    padding: 30px;
    color: white;
    text-align: center;
}
.bttn{
    text-decoration: underline;
    
}
.bttn:hover{
    border: none;
    background-color: transparent;
    color:white;
    font-weight: bolder;
}
header.gallery{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../5.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.heading{
    font-family: 'century gothic';
    text-align: center;
    font-size: 24px;
}
.heading h1{
    padding-top: 80px;
    color: white;
    font-family: 'century gothic';
}
main{
    position: absolute;
    top: 0%;
    left: 0%;
    
}
.box{
    display: block;
    float: left;
    width: 20%;
    padding: 15px;
}
img{
    padding-left: 80px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 7px;
    
}
img:hover{
    transform: scale(1.5,1.5);
    transform: 1.6s ease;
}




footer{
    padding: 10px;
    height: 20px;
    text-align: center;
    font-family: 'century gothic';
    color: white;
    background-color: #000;
}
